.tamano{
    width: 18rem;
}
.tamanoListContainer{
    width: 29rem;
}
.contador{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.contador input{
    max-width: 4rem;
}
.contador button{
    width: 8rem;
}
.select {
    display: inline;
    width: auto;
}
@media (max-width: 768px) { 
    .espacio{
        margin-top: 5rem;
    }
}
.sube {
    position: sticky;
}